{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="mx-auto bg-white p-4 rounded-3" style="max-width: 512px">
  <form method="POST">
    {% csrf_token %} {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div
        class="alert {% if message.tags %}alert-{{ message.tags }}"
        {%endif%}
      >
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <h2 class="mb-4 font-bold text-xl">Login</h2>
    {{form | crispy}}
    <input class="btn btn-primary" type="submit" value="Login" />
    <p class="mt-2">
      Don't have an account? <a href="{%url 'register' %}">Register</a>
    </p>
  </form>
</div>
{% endblock content%}
